
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
}

.rqbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 22rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.headerName {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.headerDesc {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
}
     
.loginForm { 
    margin-top: 50px;
}

.loginButton { 
    background-color: #1a73e8 !important;
    color: white !important;
    margin-top: 20px !important;
    float: right !important;
}

.forgotButton { 
    font-size: 11px !important;
    color: #1a73e8 !important;
    font-weight: 600 !important;
    justify-self: center !important;
    margin-top: 20px !important;
}

.createButton { 
    float: left;
    font-size: 12px !important;
    color:#1a73e8 !important;
    margin: 0px 0 -0.125rem;
    padding: 0;
    text-align: center;
    width: 100%;
    font-weight: 600 !important;
}

.orClass { 
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.loginInput { 
    color: white !important
}